<div class="parallax-container">
  <div class="parallax">
    <img src="">
  </div>
</div>
<div class="section section-over-image">
  <div class="row container">
    <h1 class="teal-text text-lighten-2">Hello There</h1>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src=""></div>
</div>
