
<div class="section section-over-image">
  <div class="row container">
    <div class="row index-row">
      <form id="search_form" class="col l6 offset-l3 m6 offset-m3 s12" action="/weather_view" method="get">
        <h1 class="teal-text text-lighten-2">Hello</h1>
        <div class="row">
          <div class="input-field col s12">
            <input id="zip_input" name="zip_input" type="text" class="teal-text text-lighten-2" maxlength="5" minlength="4" autocomplete="off">
            <label for="zip_input" class="teal-text text-lighten-2">Zipcode</label>
          </div>
        </div>
        <div class="row">
          <h4 class="teal-text text-lighten-2">OR</h4>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="city_input" name="city_input" type="text" class="teal-text text-lighten-2" autocomplete="off">
            <label for="city_input" class="teal-text text-lighten-2">City</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="state_input" name="state_input" type="text" class="teal-text text-lighten-2" autocomplete="off">
            <label for="state_input" class="teal-text text-lighten-2" maxlength="2">State</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Check weather
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</div>
