<!DOCTYPE html>
<html>
  <head>
    <title>Bright Sky</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="/js/scripts.js"></script>

  </head>
  <body>
    <%= yield %>
  </body>
    <!-- SideNav Stuff -->
    <!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
    <ul id="slide-out" class="side-nav fixed teal lighten-2">
    <li><div class="userView">
      <h3 class="white-text">Locations</h3>
    </div></li>
    <div class="divider white"></div>
    <% if @locations.any? %>
      <% @locations.each do |location| %>
        <a href="/weather/<%= location.id() %>"><li class="white-text"><%= location.city %>, <%= location.state %> </li></a>
      <% end %>
    <% else %>
      <li>No Locations Yet!</li>
    <% end %>
    <!-- Dropdown with add form -->
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header white-text teal lighten-1">+ Add Location</a>
          <div class="collapsible-body">
            <ul>
              <li>
                <form id="add_location_form" class="col s12 teal lighten-1" action="/" method="post">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="city_add" name="city_add" type="text" class="white-text side-nav-input" placeholder="City">
                      <label for="city_add"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="state_add" name="state_add" type="text" class="white-text side-nav-input" placeholder="State">
                      <label for="state_add"></label>
                    </div>
                  </div>
                  <div class="row no-margin">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Add</button>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <!-- End dropdown -->
  </ul>

</html>
