header, body, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, body, footer {
    padding-left: 0;
  }
}

.section-over-image {
  text-align: center !important;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

.section-over-image h4 {
  text-align: center;
  padding-left: 15px;
}

input {
  border-bottom: 4px #4db6ac solid !important;
}

body {
 background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/big-sky.jpg');
 background-size: cover;
 background-position: bottom;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

.side-nav-input {
  border-bottom: 1px #fff solid !important;
}

.no-margin {
  margin-bottom: 0px !important;
}

#bottom_row {
  position: relative;
}
#home_button {
  position: absolute !important;
  bottom: 5px !important;
}
